# =========================
# ENV FILES
# =========================
.env
*.env

# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# BUILD FILES
# =========================
dist/
build/
out/

# =========================
# GO FILES
# =========================
*.exe
*.test
*.out

# =========================
# LOG FILES
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# COVERAGE FILES
# =========================
coverage/
coverage.out

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# DOCKER
# =========================
docker-data/